---
---

@import "{{ site.theme }}";

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.3em;
  display:block;
}

a:hover small {
  color:#777;
}


:root {
  --color1: #5fbcd3;
  --color2: #2c89a0;
  --color3: #164450;
  --color4: #444444;
  --color5: #ffffff;
  --color6: #f2f2f2;
}
body {
  margin: 0;
  background-color: var(--color6);
  color: var(--color4);
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
}
a {
  color: var(--color2);
  text-decoration: none;
  //font-weight: normal;
}
a:hover, a:focus {
  color: var(--color2);
  font-weight: normal;
  text-decoration: underline;
}
/* h2 > a {
  color: var(--color4);
  text-decoration: none;
}
h2 > a:hover {
  color: var(--color2);
  text-decoration: none;
} */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
}
.container h2 {
  border-bottom-color: var(--color4);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  cursor: pointer;
}
h3 {
  padding-left: 10px;
}
ul {
  padding-left: 30px;
}
input[type=checkbox] {
  display: none;
}
.panel {
  height: auto;
  opacity: 1;
  transition: 1s;
  overflow: hidden;
}
input[type=checkbox]:checked+label+.panel {
  z-index: -1;
  height: 0px;
  opacity: 0;
  transition: 1s;
}
.text-left {
  text-align: left;
}
/*footer {
  width: 100%;
  height: 50px;
  background-color: var(--color4);
  margin: 60px 0px 0px 0px;
}
*/


.wrapper {
  width:960px;
  margin:0 auto;
}

section {
  width:600px;
  float:right;
  padding-bottom:50px;
}

@media print, screen and (max-width: 980px) {

  div.wrapper {
    width:auto;
    margin:0;
  }

  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

  header {
    padding-right:220px;
  }
  
  header > a:hover, a:focus{
    font-weight: bold;
  }

  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
  }

  header a small {
    display:inline;
  }

  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }
}
